{% block script %}
<!-- <script src="{{ url_for('static', filename='js/jquery.js') }}" ></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}" ></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>
{% endblock %}

<html>
   <body>
      <div>
         <form id="uploadform" method="POST" enctype="multipart/form-data">
            <input type = "file" name = "file" id="filename" />
            <!-- <input type = "file" id="filename"/> -->
            <input type = "text" id="secret" />
         </form>   
         <button id="encode" class="btn btn-secondary" value="encode">Encode</button>
      </div>
      <div>
         <button id="decode" class="btn btn-secondary" value="decode">Decode</button>
      </div>
      <div id="texthere">update succesfuly</div>
   </body>
</html>

