

<html>
<body>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>DSP</title>


<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />

</head>
<body>
<div>
   <form id="uploadform" method="POST" enctype="multipart/form-data">
      <input type = "file" name = "file" id="filename" />
      <!-- <input type = "file" id="filename"/> -->
      <input type = "text" id="secret" />
   </form>   
   <button id="encode" class="btn btn-secondary" value="encode">Encode</button>
</div>
<div>
   <button id="encode" class="btn btn-secondary" value="encode">Encode</button>
   <button id="decode" class="btn btn-secondary" value="decode">Decode</button>
</div>
<div id="texthere">update succesfuly</div>
</body>
</html>

{% block script %}
<!-- <script src="{{ url_for('static', filename='js/jquery.js') }}" ></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}" ></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>
<script src='https://unpkg.com/eva-icons'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/Physics2DPlugin.min.js'></script><script  src="./script.js"></script>
{% endblock %}