<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API test</title>
</head>
<style>

</style>
<body>
  <div class="container">
    <form action = "/top10" method = "POST">
      <label for="fname">Wut wuold you like to eat</label><br>
      <input type="text" name="search" placeholder="Thịt Gà" value="Thịt Gà" style="width: 100%;">
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>